body {
    background:white;
}
h1 {
    color: #9b810d;
    font: 1.3rem 'Inconsolata', monospace;  
    font-size:15px;
    text-align: center;
}
h2 {
    font: 1.3rem 'Inconsolata', monospace;  
    font-size:20px;
    color: #9b810d; 
}
p {
    font: 1.3rem 'Inconsolata', monospace;  
    font-size:15px;
    color: #262626; 
}
.box {
    border: 2px solid black;
    margin-left: 25px;
    margin-top: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    padding: 1ex;
    color: #262626;  
    font: 1.3rem 'Inconsolata', monospace;  
    font-size: 16px;
}
a {
    font: 1.3rem 'Inconsolata', monospace;  
    font-size:15px;
    color: #2714ff;
}
